URxvt.font: xft:monospace:size=12
URxvt.scrollBar: false
URxvt.transparent: true
URxvt.shading: 30
URxvt.cursorColor: red
URxvt.foreground: #eeeeee


!! Extensions
URxvt.perl-ext-common:	default,matcher,url-select,keyboard-select,fullscreen,font-size
URxvt.colorUL:		#4682B4
!! url-select
URxvt.keysym.M-u:	perl:url-select:select_next
URxvt.url-select.launcher: linkhandler
URxvt.url-select.underline: true
!! keyboard-select:
URxvt.keysym.M-Escape: perl:keyboard-select:activate
!! resize-font

!! Matcher
URxvt.url-launcher:	qutebrowser
URxvt.matcher.button:	1


URxvt.keysym.F11: perl:fullscreen:switch

URxvt.keysym.C-Up:     perl:font-size:increase
URxvt.keysym.C-Down:   perl:font-size:decrease
URxvt.keysym.C-S-Up:   perl:font-size:incglobal
URxvt.keysym.C-S-Down: perl:font-size:decglobal
URxvt.keysym.C-equal:  perl:font-size:reset
URxvt.keysym.C-slash:  perl:font-size:show
