[Desktop Entry]
Type=Application
Exec=touchegg
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=TouchEgg
Name=TouchEgg
Comment[en_US]=
Comment=
